{% extends "base.html" %}
{% block title %}Credits{{ super() }}{% endblock %}
{% block nav_credits_class %}active{% endblock %}
{% block content %}
<h1>Credits</h1>
<p>
<ul class="list-unstyled">
  <li><a href="http://jquery.com/" target="_blank">jQuery</a></li>
  <li><a href="http://getbootstrap.com/" target="_blank">Twitter Bootstrap</a></li>
  <li><a href="http://webtreats.mysitemyway.com/1540-infocus-social-media-icon-mega-set/" target="_blank">inFocus Social Media Icons</a></li>
  <li><a href="http://www.rackspace.com/cloud/files/" target="_blank">Cloud Files</a></li>
</ul>
</p>
{% endblock %}
